header a{
    text-decoration: none;
    color: white;
}

header .top-bar{
    background-color: rgb(31, 31, 31);
    color: white;
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: center;
}

header ul{
    padding: 0;
    list-style: none;
}

header ul li{
    /list-style: none;/
}

.top-bar a{
    text-decoration: none;
    color: white;
}

div ul{
    width: 20vw;
}

header{
    background-image: url("/assets/images/hero.png");
}